@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Public Sans", sans-serif !important;
}

.text-primary {
  @apply text-[#3BA334];
}
.custom-container {
  @apply w-full max-w-[1200px] mx-auto px-4;
}

.box-shadow-home {
  width: 408px;
  height: 525px;
  rotate: -54.74 deg;
  opacity: 1;
  top: 1192px;
  left: -525px;
}
